@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

/*avoid problems with mobile phones' small widths...*/
@media screen and (max-width: 570px) {
  #quote-box {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 460px) {
  #quote-box {
    transform: scale(0.7);
  }
}
@media screen and (max-width: 400px) {
  #quote-box {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 355px) {
  #quote-box {
    transform: scale(0.5);
  }
}
@media screen and (max-width: 285px) {
  #quote-box {
    transform: scale(0.4);
  }
}
div {
  position: relative;
  z-index: 2;
}

body {
  font-family: "Times New Roman", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  border-radius: 65px;
  border-right: 4px solid gray;
  border-bottom: 4px solid black;
  position: relative;
  margin: 8% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background: linear-gradient(linen 55%, gray);
}

.quote-text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}
.quote-text i {
  font-size: 1em;
  margin-right: 0.4em;
}

.quote-author {
  width: 450px;
  height: auto;
  clear: both;
  padding-top: 20px;
  font-size: 1em;
  text-align: center;
}

.buttons {
  width: 450px;
  margin: auto;
  display: block;
}

.button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#tweet-quote:hover {
  color: #00acee;
  opacity: 0.9;
}

#tweet-quote {
  float: right;
  padding: 0;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  border-radius: 50%;
  width: 40px;
}

#new-quote {
  float: left;
  border-radius: 50%;
}

.footer {
  width: 450px;
  display: block;
  margin-left: 40%;
  margin-top: 2%;
  font-size: 0.8em;
  color: linen;
  /*make the quote box stay centered:*/
  position: absolute;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: blue;
}

a:hover {
  color: linen;
}